<DOCTYPE html>
<html>
	<head>
		<title> Signup </title>
	</head>
	<body>
		<h2> Signup </h2>
		<form id="form">
			Username: <input type="text" id="username"> <br>
			Password: <input type="password" id="password"> <br>
			<input type="submit" value="signup">
		</form>

		Already have an account? <a href="/login">Login</a>

		<script>
			const form = document.getElementById("form");
			form.addEventListener("submit", async (e) => {
				e.preventDefault();

				username = document.getElementById("username").value;
				password = document.getElementById("password").value;

				const params = {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						"Accept": "*/*",
					},
					body: JSON.stringify({ name: username, password: password })
				};
				await fetch("/api_signup", params)
					.then(async (response) => {
						let result = await response.text();
						let data = JSON.parse(result);
						alert(data.msg);
					})
					.catch((err) => {
						alert(err);
					})
			});
		</script>
	</body>
</html>
